:root {
  --light-square: Peru;
  --dark-square: BurlyWood;
}
body {
  margin: 0;
  font-family: 'DejaVu Sans', FreeSerif, Quivira, sans-serif;
}

.board {
  display: inline-block;
}

.board th{
  font-size: 1.5em;
}

.square {
  height: 8vh;
  width: 8vh;
  position: relative;
}

.square.dark {
  background-color: var(--dark-square);
}

.square.light {
  background-color: var(--light-square);
}

.piece {
  height: 85%;
  width: 85%;
  padding: 7.5%;
}

