body {
  margin: 0;
  font-family: 'DejaVu Sans', FreeSerif, Quivira, sans-serif;
}

.board th{
  font-size: 1.5em;
}

.square {
  height: 8vh;
  width: 8vh;
  position: relative;
}

.square.dark {
  background-color: Peru;
}

.square.light {
  background-color: BurlyWood;
}

.piece {
  height: 85%;
  width: 85%;
  padding: 7.5%;
}

